<configuration>
    <appender name="console" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<property name="HOME_LOG" value="/sdcard/Android/data/es.jcyl.ita.formic/logs"/>-->
    <!--<property name="HOME_LOG" value="/storage/emulated/0/logs"/>-->

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}/${FILE_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n</pattern>
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${HOME_LOG}/archived/${FILE_NAME}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>50Mb</totalSizeCap>
        </rollingPolicy>

    </appender>


    <!--<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/sdcard/Android/data/es.jcyl.ita.formic/log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/sdcard/Android/data/es.jcyl.ita.formic/log.%d{yyyy-MM-dd-HH-mm}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>-->

    <root level="DEBUG">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
</configuration>