<main id="formContext" name="Context" repo="pruebaRepo">
    <list id="listContext" name="Context">
        <buttonbar type="fab">
            <button id="btnFab">
                <action id="accionFAB" type="nav" route="formContext-editContext1">
                    <param name="repo" value="pruebaRepo"/>
                </action>
            </button>
        </buttonbar>
    </list>
    <edit id="editContext1">
        <form>
            <!--textarea label="Location lastLocation" placeHolder="${location.lastLocation}" value="${entity.d_prueba}"/>
            <textarea label="Location asString" placeHolder="${location.asString}" value="${entity.d_prueba}"/>
            <textarea label="Location asLatLong" placeHolder="${location.asLatLong}" value="${entity.d_prueba}"/>
            <textarea label="Location asWKT" placeHolder="${location.asWKT}" value="${entity.d_prueba}"/>
            <textarea label="Location asWKT3D" placeHolder="${location.asWKT3D}" value="${entity.d_prueba}"/>

            <textarea label="Date now" placeHolder="${date.now}" value="${entity.d_prueba}"/>

            <input id="param1" label="Parámetro 1: " value="Uno"/>
            <input id="param2" label="Parámetro 2: " value="Dos"/>
            <button label="Nav Edit Param 2" route="formContext-editContext2">
                <param name="nameParam1" value="${view.param1}"/>
                <param name="nameParam2" value="${view.param2}"/>
            </button>

            <input label="Description" value="${entity.d_prueba}"/>

            <input id="input1" label="View 1: " value="Uno"/>
            <input id="input2" label="View 2: " value="${view.input1}"/>

            <datatable id="datatableProvincia" repo="provinciaRepo" numVisibleRows="5">
                <column id="column_c_provincia_id" headerText="Cod. Provincia" filtering="true" ordering="true" value="${entity.c_provincia_id}">
                    <filter property="c_provincia_id" matching="contains" valueExpression="${this.column_c_provincia_id}"/>
                    <order property="c_provincia_id"/>
                </column>
                <column id="column_d_provincia" headerText="Provincia" filtering="true" ordering="true" value="${entity.d_provincia}">
                    <filter property="d_provincia" matching="contains" valueExpression="${this.column_d_provincia}"/>
                    <order property="d_provincia"/>
                </column>
            </datatable>

            <textarea label="App" value="${app.workingFolder}"/-->

            <textarea label="Folder: " value="${project.folder}" lines="3"/>
            <textarea label="Data folder: " value="${project.dataFolder}" lines="3"/>
            <textarea label="Forms folder: " value="${project.formsFolder}" lines="3"/>
            <textarea label="Pictures folder: " value="${project.picturesFolder}" lines="3"/>


        </form>
    </edit>
    <edit id="editContext2">
        <input label="Parametro 1: " value="${params.nameParam1}"/>
        <input label="Parametro 2: " value="${params.nameParam2}"/>
    </edit>
</main>
